@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.top-container {
  background-image: url(../image/castelmezzano.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  color: #ffffff;
}

.top-content {
  width: 1440px;
  padding: 51px 104px 0;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 205px;
  height: 40px;
}

.header-content__container {
  display: flex;
  column-gap: 48px;
}

.header-content__item {
  display: flex;
  column-gap: 24px;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
}

.header__icon--button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.header__icon--night {
  width: 30px;
  height: 30px;
}

.header__icon--account {
  width: 40px;
  height: 40px;
}

.header__link--border {
  padding: 12px 0;
  border-bottom: 3px solid #f5bd41;
}

.top-page-content {
  padding: 196px 0 0;
}

.top-page__heading {
  font-size: 50px;
  font-weight: 500;
  width: 542px;
  margin: 0 0 100px;
}

.top-page__form--label {
  display: flex;
  column-gap: 221px;
  padding: 0 0 24px 24px;
  font-size: 18px;
}

.top-page__form--input {
  background-color: #ffffff;
  border: 3px solid #f3f3f4;
  border-radius: 8px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #383838;
  border-right: 0;
}

#top-page__form--place {
  width: 464px;
  height: 58px;
  padding: 0 24px;
  border: none;
  font-size: 18px;
  font-weight: 400;
}

#top-page__form--date {
  display: flex;
  align-items: center;
  width: 259px;
  height: 64px;
  border: 3px solid #f5bd41;
  border-radius: 8px;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 400;
}

.top-page__form--person {
  width: 314px;
  height: 58px;
  padding: 0 0 0 24px;
  border: none;
  font-size: 18px;
  font-weight: 400;
}

.top-page__form--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 64px;
  background-color: #3077c6;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.top-page-apps__container {
  display: flex;
  column-gap: 16px;
  padding: 120px 0 0;
  justify-content: center;
}

.top-page-apps__link {
  cursor: pointer;
}

.top-page-apps__link--google {
  width: 135px;
  height: 40px;
}

.top-page-apps__link--apple {
  width: 120px;
  height: 40px;
}

.advantages-container {
  display: flex;
  padding: 120px 104px 122px;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  height: 569px;
}

.advantages-container__item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.page__heading {
  font-size: 40px;
  font-weight: 500;
}

.advantages__line {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border: 0;
}

.advantages-content__container {
  display: flex;
  column-gap: 16px;
}

.advantages-content__item {
  width: 296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.advantages-content__img {
  width: 100px;
  height: 100px;
}

.advantages-content__title {
  font-size: 24px;
  font-weight: 400;
}

.footer-container {
  background-color: #10367c;
  color: #ffffff;
}

.footer-content {
  width: 1440px;
  height: 625px;
  margin: 0 auto;
  padding: 120px 0 120px 104px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.footer-content__container {
  display: flex;
}

.footer__title {
  font-weight: 500;
  font-size: 20px;
}

.footer__copy {
  font-weight: 400;
  font-size: 14px;
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
}

.footer-content__item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 416px;
  list-style-type: none;
}
